<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Authentication Options</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'ibm/style2.css' %}" />
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'ibm/reset2.css' %}" /> 
  </head>

  <body>
  <style type="text/css">
    @font-face { 
    font-family: 'Campton-LightDEMORegular'; 
    src:local('Campton-LightDEMO Regular'),
        local('Campton-LightDEMO'), 
        url({% static 'ibm/Campton-LightDEMO.otf' %}) format('truetype');
    } 
    h1 { font-family: Campton-LightDEMORegular }
</style>

<div class="pen-title">
  <h1>Select Your Authentication Process</h1><span>
</div>
<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title" align = "center"><font size ="6">Hello {{name}}!</font></h1>
    <h1 class="title" align = "center"><font size ="6"> </font></h1>
    <h1 class="title" align = "center"><font size ="6"> </font></h1>
    <h1 class="title" align = "center"><font size ="6"> </font></h1>
    <h1 class="title" align = "center"><font size ="5">A notification has been sent to your phone </font> </h1>
    <h1 class="title" align = "center"><font size ="6"> </font></h1>
    <h1 class="title" align = "center"><font size ="3" color = "grey"> Feel free to choose an alternative login method below </font></h1>
    <form method="GET" action="/ibm/reg_pass/">
    {% csrf_token %}
      <div class="button-container">
        <button>Password <a href = "/ibm/reg_pass/"></a></button>
      </div>
    </form>
    {% csrf_token %}
      <div class="button-container1">
        <button>SMS</button>
      </div>
  </div>
  <div class="card alt">
    <div class="toggle">  <img src="{% static "ibm/logo.png" %}" alt="logo" style="width:128px;height:128px;"/> </div>
</div>  
  </body>
</html>