<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Client Login Form</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'ibm/style.css' %}" />
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'ibm/reset.css' %}" /> 
  </head>

  <body>
  
{% load staticfiles %}

<style type="text/css">
    @font-face { 
    font-family: 'Campton-LightDEMORegular'; 
    src:local('Campton-LightDEMO Regular'),
        local('Campton-LightDEMO'), 
        url({% static 'ibm/Campton-LightDEMO.otf' %}) format('truetype');
    } 
    h1 { font-family: Campton-LightDEMORegular }
</style>

<div class="pen-title">
  
  <h1>Welcome to Effortless and Secure Banking</h1>
</div>
<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Please enter your phone number</h1>
    <form method="POST" action="/ibm/final/">
    {% csrf_token %}
      <div class="input-container">
        <input type="text" name="textfield" required="required"/>
          {% if invalid %}
           <div class="input-container" align = "center">
           <h1>Incorrect Number<h1>
           </div>
          {% endif %}
        <label for="Phonenumber">Mobile Number</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>OK</span></button>
      </div>
    </form>
  </div>
  <div class="card alt">
    <div class="toggle">  <img src="{% static "ibm/logo.png" %}" alt="logo" style="width:128px;height:128px;"/> </div>
</div>  
  </body>
</html>