p {
    text-align: justify;
}

#side {
	margin-left: 2%;
	margin-top: 2%;
	list-style-type: none;
}

.team {
	text-align: center;
}

#client {
	padding-left: 0px;
}

.logo {
	margin-left: auto;
}

footer .container ul{
	margin-top: 5%;
}

table {
	width: 100%;
}

#biweekly {
    width: 100%;
    text-align: center;
}

#intro p {
    text-align: center;
}

.plan {
	width: 78%;
	margin-left: 11%;
}

.gantt, #iframe_container {
	width: 90%;
	margin-left: 5%;
}

#gantt p{
	margin-bottom: 5%;
}

#video {
    text-align: center;
}

video#bgvid { 						
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/start.jpg) no-repeat;
    background-size: cover;
    background-color: rgba(64,64,64,0.6); 
}

#background {						
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background-color: rgba(64,64,64,0.6); 
}

#architecture {
	position: relative;
	width: 80%;
	margin-left: 10%;
}

#logo-small {
	position: relative;
	width: 10%;
	margin-left: 10%;
	margin-top: 2%;
}

#logo-large {
	position: relative;
	width: 30%;
	margin-top: 2%; 
}

#overlay {
	background-color: rgba(64,64,64,0.6); 
}

table .titles{
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #5C5C5C;
    color: white;
}

.requirements th, .requirements td{
	text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    padding: 15px;
    font-size: 15px;
}

#usecases {
	border: 0px;
	width: 100%;
	height: 1000px;
}


