p {
    text-align: justify;
}

hr {
    color: #404040;
    height: 6px;
    border: none;
}

#side {
	margin-left: 2%;
	margin-top: 2%;
	list-style-type: none;
}

.team {
	text-align: center;
}

#client {
	padding-left: 0px;
}

.logo {
	margin-left: auto;
}

#features-align {
    text-align: center;
    margin-bottom: 2%;
}

#features-1 {
    float: left;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(64,64,64,0.1);
    padding: 2%;
}

#features-2 {
    float: right;
    border-radius: 10px;
    background-color: rgba(64,64,64,0.1);
    padding: 2%;
}

#features-ml {
    width: 97%;
    margin-left: 1.5%;
    border-radius: 10px;
    font-size: 100%;
    background-color: rgba(64,64,64,0.1);
    padding: 2%;
}

#features-1 p, #features-2 p, #features-ml p{
    text-align: center;
    word-wrap: break-word;
    width: 90%;
    margin-left: 5%;
    font-weight: 4%;
}

#features-ml {
    vertical-align: center;
}

#landing-container {
    width: 70%;
    margin-left: 15%;
}

#video-1 {
    width: 49.5%;
    float: left;
    text-align: center;
    border-radius: 10px;
    padding: 2%;
}

#video-2 {
    width: 49.5%;
    float: right;
    border-radius: 10px;
    padding: 2%;
}

footer .container ul{
	margin-top: 5%;
}

table {
	width: 100%;
}

#biweekly {
    width: 100%;
    text-align: center;
}

#intro p {
    text-align: center;
}

.plan {
	width: 78%;
	margin-left: 11%;
}

.gantt, #iframe_container {
	width: 90%;
	margin-left: 5%;
}

#gantt p{
	margin-bottom: 5%;
}

#video {
    text-align: center;
}

#ios img {
    width: 80%;
    margin-left: 10%;
}

video#bgvid { 						
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/start.jpg) no-repeat;
    background-size: cover;
}

#background {						
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background-color: rgba(64,64,64,0.3); 
}

#architecture {
	position: relative;
	width: 80%;
	margin-left: 10%;
}

#logo-small {
	position: relative;
	width: 10%;
	margin-left: 10%;
	margin-top: 2%;
}

#logo-large {
	position: relative;
	width: 30%;
	margin-top: 2%; 
}

#overlay {
	background-color: rgba(64,64,64,0.6); 
}

table .titles{
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #5C5C5C;
    color: white;
}

.requirements th, .requirements td{
	text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    padding: 15px;
    font-size: 15px;
}

#usecases {
	border: 0px;
	width: 100%;
	height: 1000px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td{
    font-size:14px;
    padding:10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg th{
    font-size: 14px;
    font-weight: bold;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-s6z2{
    text-align: center;
}




